#Map {
    border:1px solid gray;
    border-radius:10px;
    height:40vh;
    width:55vw;
    margin:5px;
    margin-left: 20px;
}

#PieChart {
    border:1px solid gray;
    border-radius:10px;
    height:40vh;
    width:37vw;
    margin:20px;
    margin-top: 5px;
}

#ScatterDiv {
    border:1px solid gray;
    border-radius:10px;
    height:45vh;
    width:37vw;
    margin-top: 5px;
}

#Scatter {
    height:45vh;
    width:37vw;
}

#Novel {
    border:1px solid gray;
    border-radius:10px;
    height:45vh;
    width:55vw;
    margin:20px;
    margin-top: 5px;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.tooltipItem {
    border:1px solid gray;
    border-radius:5px;
    background-color: white;
    position: absolute;
    padding: 10px;
}

.bubble {
    transform: translate(270px, 80px);
}